<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="Table">
        <header class="Table-header">
                <h1> Lista de coisas para fazer </h1>
        </header>

        <table>
            <thead>
                <tr>
                    {% for key in dataset[0].keys() %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in dataset %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>
