<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="Table">
        <header class="Table-header">
            <h1>Lista de coisas para fazer</h1>
            <a href="{{ url_for('add_data') }}">
                <button>Adicionar novo item</button>
            </a>
        </header>

        <table>
            <thead>
                <tr>
                    {% for key in dataset[0].keys() %}
                        {% if key != 'id' %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in dataset %}
                    <tr>
                        {% for key, value in row.items() %}
                            {% if key != 'id' %}    
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <!-- Pass the row's ID dynamically to the delete endpoint -->
                            <form action="{{ url_for('delete_row', row_id=row['id']) }}" method="post" >
                                <button class="Delete" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>
